html {
    background-color: #D4BEBE;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    color: #3c2c2c;
}

.grid-container {
    display: grid;
    grid-template: auto 1fr auto / auto auto;
    grid-template-areas:
        'header header'
        'nav main'
        'footer footer';
    gap: 0px 40px;
    padding: 0px 10px;
    margin: 0px auto ;
    max-width: 1200px;

}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
    position: sticky;
    top: 0;
    height: max-content;
}

.nav-flexbox {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0px;
}

.nav-flexbox li {
    padding: 5px 0px 5px 0px;
}

.button:hover {
    background-color: #998998;
    border-radius: 5px;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

.container1, .nav {
    background-color: #b8a3aa;
    border-radius: 20px;
    margin: 20px 0px;
    padding: 5px 25px;
    box-shadow: 10px 10px;
}

.container2 {
    background-color: #998998;
    border-radius: 20px;
    margin: 20px 0px;
    padding: 1px 25px;
    box-shadow: 5px 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    color: #000000;
}

h1, h2 {
    text-align: center;
}

a, a:visited, a:active {
    color: #e64558;
}

#introduction {
    display: flex;
    column-gap: 30px;
}

.intro-video {
    max-height: 400px;
    min-height: 200px;
    padding: 20px 0px;
}

.skills-flexbox {
    display: flex;
}

.skills-flexbox article {
    flex-basis: 50%
}

.project-flexbox {
    display: flex;
    gap: 20px;
}

.project-image-div {
    flex: 0 0 33.333%
}

.project-image-div img {
    width: 100%;
}

table {
    border-color: #2f4858;
    border-collapse: collapse;
    background-color: #ecdfe2;
}

thead {
    background-color: #777285;
    color: #000000;
}

tbody {
    color: #574142;
}

#education th, #education td {
    padding:10px;
}

/*
Background color: #D4BEBE
mycolor.space for palette
*/